<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Sports</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="http://127.0.0.1:8000/"><img src="{% static 'information/img/logo.jpg'%}"style="width: 200px;height: 50px;" alt=""></a>
                        </div>

                        <!-- Search & Login Area -->
                        <div class="search-login-area d-flex align-items-center">
                            <img src="{% static 'img/icon/s3.jpg' %}" style="border-radius: 50%; width: 75px; "   alt="">
                            <!-- Top Search Area -->
                          <!----  <div class="top-search-area">
                                <form action="#" method="post">
                                    <input type="search" name="top-search" id="topSearch" placeholder="Search">
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>-->
                            <!-- Login Area -->
                            <div class="login-area">
                               <!---- <a href="#"><span>Login / Register</span> <i class="fa fa-lock" aria-hidden="true"></i></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="egames-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="egamesNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="http://127.0.0.1:8000/">Home</a></li>
                                    <li><a href="http://127.0.0.1:8000/my_app/student/">Back</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Top Social Info -->
<!--                        <div class="top-social-info">-->
<!--                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>-->
<!--                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
<!--                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
<!--                        -->
<!--                        </div>-->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/static/information/img/23.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breadcrumb Text -->
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h3>Choose a college</h3>
                        <h4>Scroll down to register !!</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area section-padding-100">

                <div class="container1">

    <form method="post">
      {% csrf_token %}
<div class="singles-form">
      <input type="text" name="instituteName" placeholder="Search for institute name" id="input">
      <input type="text" name="game" placeholder="Search for game" id="input">
      <input class="btn" type="submit" value="Search">
</div>
    </form>

        </div>
    <div class="data">
      <div class="t">
      <table border="1" class="center">
        <tbody style="text-align:center;">
          <tr style="font-weight:bold;text-align:center;">
            <td style="width:20%;">Institute Name</td>
            <td style="width:20%;">Game Name</td>
            <td style="width:20%;">Date</td>
            <td style="width:20%;">Max. Teams</td>
            <td style="width:45%;">Registration Link</td>
          </tr>
          {% for data in details %}
          <tr>
            <td>{{ data.instituteName}}</td>
            <td>{{ data.game }}</td>
            <td>{{ data.date }}</td>
            <td>{{ data.teams }}</td>
            <td><a href="/my_app/{{data.game}}/{{data.instituteName}}/">Fill the Form</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>


    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>

    </section>
</body>

</html>